header {
	background-color: #353535;
}
.top-bar__social-list li {
	display: inline-block;	
}
.top-bar__social-list li a{
	color: white;
	text-align: center;
	text-decoration: none;
}
.contact li {
	display: inline-block;	
}
.contact li a{
	color: white;
	text-align: center;
	text-decoration: none;
}
ul.container{
	list-style-type:  none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
ul.top-bar__social-list	{
	list-style-type:  none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nav li{
	display: inline-block;
}
ul.menu	{
	list-style-type:  none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.menu li a{
	display: inline-block;
	margin:  10px 20px;
	color: white;
	text-align: center;
	padding: 20px 0px;
	text-decoration: none;
}
.menu li a:hover:not(.active){
	color : #C89979;
}
.menu .active{
	background-color: #FFFFFF;
}
.search-bar{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.container{
	display: flex;
	justify-content: space-between;
}


